body {
  font-family: sans-serif;
}

@page-width: 1024px;

@success-color: limegreen;
@failed-color: red;
@default-color: deepskyblue;

.container {
  width: @page-width;
  margin: 0 auto;
}

.project-box {
  display: inline-block;
  padding: 16px;
  box-sizing: border-box;
  margin: 8px;
  width: 322px;
  height: 120px;
  background-color: gray;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

&.success {
  background-color: @success-color !important;
}
&.failure {
  background-color: @failed-color !important;
}

.panel {
  border-radius: 4px;
  width: @page-width;
  padding: 3px;
  .head {
    display: block;
    color: white;
    padding: 16px;
  }
  [type="checkbox"].toggle {
    display: none;
    ~ .head {
      cursor: pointer;
    }
    &:not(:checked) ~ .content {
      display: none;
    }
  }
  .content {
    border-radius: 0 0 4px 4px;
    padding: 8px;
    color: #111;
    background-color: white;
    
  }
}

.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ddd;
  color: #333;
  padding: 0.8em;
}
