{{define "title" }} 
  {{ with index . 0 }}
    {{.ProjectName}} - Hookah
  {{end}}
{{end}}
{{define "content"}}


{{ with index . 0 }}
  <h1> {{.ProjectName}}</h1>
{{end}}

<a href="/"> ◀ Back to projects </a>

<br/>
<br/>

{{ range . }}
  <div class="panel {{.Status}}" id="{{.ID}}">
    <input type="checkbox" class="toggle" id="toggle-{{.ID}}">
    <label class="head clickable" for="toggle-{{.ID}}">
      <strong>
        {{if eq .Status "success"}}
        🌟 PASS
        {{else}}
        🔥 FAIL
        {{end}}
      </strong>
      &nbsp;-&nbsp;
      {{.Name}}
    </label>
    <div class="content">
      <pre class="code">{{.Output}}</pre>
    </div>
  </div>
  <br/>
{{end}}

{{end}}