{{define "title" }} 
  {{ with index . 0 }}
    {{.ProjectName}} - Hookah
  {{end}}
{{end}}
{{define "content"}} 

{{ with index . 0 }}
  <div class="panel">
    <div class="head title">{{.ProjectName}}</div>
    <div class="content">
      <table>
        <tr>
          <td>
            <strong>Last build:&nbsp;</strong>
            {{.Start}}
          </td>
        </tr>
      </table>
    </div>
  </div>
{{end}}

<noscript>
  <ul>
    {{ range . }}
      <li>
        <a href="#{{.ID}}">
          {{if eq .Status "success"}}
          PASS
          {{else}}
          FAIL
          {{end}}
          &nbsp;-&nbsp;
          {{.Name}}
        </a>
      </li>
    {{end}}
  </ul>
</noscript>

<ul>
{{ range . }}
  <li class="panel {{.Status}}" id="{{.ID}}">
    <div class="head clickable">
      <strong>
        {{if eq .Status "success"}}
        PASS
        {{else}}
        FAIL
        {{end}}
      </strong>
      &nbsp;-&nbsp;
      {{.Name}}
    </div>
    <div class="content">
      <pre class="code">{{.Output}}</pre>
    </div>
  </li>
{{end}}
</ul>

{{end}}