{{define "title" }} 
  {{ with index . 0 }}
    {{.ProjectName}} - Hookah
  {{end}}
{{end}}
{{define "content"}}

{{$buildsCount := len .}}

{{ with index . 0 }}
  <h1> {{.ProjectName}} ({{$buildsCount}})</h1>
{{end}}

<a href="/"> ◀ Back to projects </a>

<br/>
<br/>

{{ range . }}
  <div class="panel {{.Status}}" id="{{.ID}}">
    <input type="checkbox" class="toggle" id="toggle-{{.ID}}">
    <label class="head clickable" for="toggle-{{.ID}}">
      <strong>
        {{if eq .Status "success"}}
        🌟 PASS
        {{else}}
        🔥 FAIL
        {{end}}
      </strong>
      &nbsp;-&nbsp;
      {{.Name}}
    </label>
    <div class="content">
      <table>
        <tbody>
          <tr>
            <th>Start</th>
            <td>{{.Start}}</td>
            <th>Duration</th>
            <td>{{.Duration}}</td>
          </tr>
          <tr>
            <th>Build path</th>
            <td>{{.Request.BuildPath}}</td>
          </tr>
          <tr>
            <th>Pull Handler</th>
            <td>{{.Request.PullHandler}}</td>
            <th>Pull Params</th>
            <td>{{.Request.PullParams}}</td>
          </tr>
          <tr>
            <th>Push Handler</th>
            <td>{{.Request.PushHandler}}</td>
            <th>Push Params</th>
            <td>{{.Request.PushParams}}</td>
          </tr>
        </tbody>
      </table>
      <pre class="code">{{.Output}}</pre>
    </div>
  </div>
  <br/>
{{end}}

{{end}}